/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.myicon-OICQ-icon {
  background-image: url(../img/sprite.png);
  background-position: -523px -277px;
  width: 24px;
  height: 17px;
}
.myicon-QQ-icon {
  background-image: url(../img/sprite.png);
  background-position: -418px -277px;
  width: 77px;
  height: 22px;
}
.myicon-QQ-icon2 {
  background-image: url(../img/sprite.png);
  background-position: -536px -243px;
  width: 74px;
  height: 23px;
}
.myicon-QQconsult-title {
  background-image: url(../img/sprite.png);
  background-position: -418px -191px;
  width: 116px;
  height: 84px;
}
.myicon-bottom-float {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 416px;
  height: 122px;
}
.myicon-head-liangfang {
  background-image: url(../img/sprite.png);
  background-position: 0px -348px;
  width: 213px;
  height: 51px;
}
.myicon-hot {
  background-image: url(../img/sprite.png);
  background-position: -583px -223px;
  width: 29px;
  height: 18px;
}
.myicon-my-call {
  background-image: url(../img/sprite.png);
  background-position: -536px -191px;
  width: 45px;
  height: 50px;
}
.myicon-qrcode-hongbao {
  background-image: url(../img/sprite.png);
  background-position: -224px -124px;
  width: 86px;
  height: 84px;
}
.myicon-qrcode-service {
  background-image: url(../img/sprite.png);
  background-position: -312px -124px;
  width: 84px;
  height: 84px;
}
.myicon-qrcode-service2 {
  background-image: url(../img/sprite.png);
  background-position: -418px 0px;
  width: 196px;
  height: 189px;
}
.myicon-qrcode-yuyue-succeed {
  background-image: url(../img/sprite.png);
  background-position: 0px -124px;
  width: 222px;
  height: 222px;
}
.myicon-sort {
  background-image: url(../img/sprite.png);
  background-position: -497px -277px;
  width: 24px;
  height: 20px;
}
.myicon-top-logo {
  background-image: url(../img/sprite.png);
  background-position: -418px -301px;
  width: 40px;
  height: 29px;
}
.myicon-xiaoguo-cate1 {
  background-image: url(../img/sprite.png);
  background-position: -256px -210px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate10 {
  background-image: url(../img/sprite.png);
  background-position: -288px -210px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate2 {
  background-image: url(../img/sprite.png);
  background-position: -320px -210px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate3 {
  background-image: url(../img/sprite.png);
  background-position: -352px -210px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate4 {
  background-image: url(../img/sprite.png);
  background-position: -384px -210px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate5 {
  background-image: url(../img/sprite.png);
  background-position: -224px -242px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate6 {
  background-image: url(../img/sprite.png);
  background-position: -256px -242px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate7 {
  background-image: url(../img/sprite.png);
  background-position: -583px -191px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate8 {
  background-image: url(../img/sprite.png);
  background-position: -288px -242px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate9 {
  background-image: url(../img/sprite.png);
  background-position: -224px -210px;
  width: 30px;
  height: 30px;
}
